<div class="form bartender-bg">

    <div class="container">
        <div class="row">

            <div class="twelve columns">

                <% if @user_favorite %>
                    <button class="button button-block delete-id" data-id="<%= @drink.id %>">Remove from Favorites</button>
                <% else %>
                    <button class="button button-block send-id" data-id="<%= @drink.id %>">Save as Favorite</button>
                <% end %>

            </div>

            <div class="twelve columns recipe">

                <h3><%= @drink.name %></h3>

                <% @liquor_ingredients.each do |liquor| %>
                    <p><%= liquor.measure %> <%= liquor.liquor.name %></p>
                <% end %>

                <% @mixer_ingredients.each do |mixer| %>
                    <p><%= mixer.measure %> <%= mixer.mixer.name %></p>
                <% end %>

            </div>

        </div>
    </div>

</div>
